@use '../helpers' as *;

.logo {
    max-width: fluid(100, 80);
    user-select: none;
    cursor: pointer;

    span {
        font-family: 'Macondo';
        display: flex;
        align-items: center;
        font-weight: 700;
        font-size: rem(22); 
        padding-left: rem(5);
        color: var(--color-light);

        &:hover {
            color: var(--color-hover);
        }
    
    }

}

